In [355]:
# 라이브러리 로딩
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# 자동완성 속도 증가
%config Completer.use_jedi = False

In [356]:
# csv 파일 로딩
structure = pd.read_csv(
    'C:/k_digital/source/data/노인여가+복지시설(구별)_20221113151448.csv')
human = pd.read_csv(
    'C:/k_digital/source/data/주민등록인구_20221113150419.csv')

In [357]:
# structure 파일에서 필요한 부분만 추출
structure = structure.iloc[:, 0:2]
structure.head(3)

   자치구  시설합계
0   소계  3869
1  노원구   261
2  강서구   245

In [358]:
# 두 데이터 프레임에 겹치는 부분이 있어서 열이름 통일
structure.insert(loc=0, column='동별', value=structure['자치구'])
structure = structure.drop('자치구', axis=1)
structure.head(3)

    동별  시설합계
0   소계  3869
1  노원구   261
2  강서구   245

In [359]:
# 데이터 프레임 확인
human.head(3)

    동별        계  65세이상고령자
0   소계  9682126   1650367
1  송파구   665847    102103
2  강서구   575813     95836

In [360]:
# 비율 열 추가
human['per'] = (human.iloc[:, 1] / human.iloc[:, 2]).apply(
    lambda x: np.round(x, 2))

In [361]:
# 비율 크기순으로 정렬
human_val = human.iloc[1:, :].sort_values('per', ascending=False).reset_index(drop=True)
human_val.head(3)

    동별       계  65세이상고령자   per
0  마포구  376062     55525  6.77
1  서초구  409025     61703  6.63
2  강남구  534988     80836  6.62

In [362]:
# 소계 행 추출
human_tot = human.iloc[0, :]
human_tot = pd.DataFrame(human_tot)
human_tot = human_tot.T
human_tot

   동별        계 65세이상고령자   per
0  소계  9682126  1650367  5.87

In [363]:
# 행 결합
human = pd.concat([human_tot, human_val]).reset_index(drop=True)
human

      동별        계 65세이상고령자   per
0     소계  9682126  1650367  5.87
1    마포구   376062    55525  6.77
2    서초구   409025    61703  6.63
3    강남구   534988    80836  6.62
4    광진구   351073    53405  6.57
5    송파구   665847   102103  6.52
6    양천구   445270    71333  6.24
7   영등포구   398938    64285  6.21
8    관악구   500750    81713  6.13
9    성동구   288941    47347   6.1
10   용산구   233734    38784  6.03
11   강서구   575813    95836  6.01
12   강동구   464490    77349  6.01
13   동작구   392628    67863  5.79
14   성북구   442596    76719  5.77
15   금천구   243872    42444  5.75
16  서대문구   317159    55404  5.72
17   노원구   509686    90914  5.61
18   구로구   416570    75041  5.55
19  동대문구   353181    63807  5.54
20   종로구   151999    27787  5.47
21   은평구   474124    89308  5.31
22   중랑구   391110    74112  5.28
23    중구   130764    24841  5.26
24   도봉구   314884    66253  4.75
25   강북구   298622    65655  4.55

In [364]:
# 열 결합
tot = pd.merge(human, structure)

In [365]:
# 시설 비율 열 추가
tot['fac_per'] = ((tot.iloc[:, 4] / tot.iloc[0, 4]) * 100).apply(lambda x: np.round(x, 2))
tot

      동별        계 65세이상고령자   per  시설합계  fac_per
0     소계  9682126  1650367  5.87  3869   100.00
1    마포구   376062    55525  6.77   170     4.39
2    서초구   409025    61703  6.63   145     3.75
3    강남구   534988    80836  6.62   190     4.91
4    광진구   351073    53405  6.57   104     2.69
5    송파구   665847   102103  6.52   189     4.88
6    양천구   445270    71333  6.24   190     4.91
7   영등포구   398938    64285  6.21   199     5.14
8    관악구   500750    81713  6.13   131     3.39
9    성동구   288941    47347   6.1   177     4.57
10   용산구   233734    38784  6.03   111     2.87
11   강서구   575813    95836  6.01   245     6.33
12   강동구   464490    77349  6.01   136     3.52
13   동작구   392628    67863  5.79   151     3.90
14   성북구   442596    76719  5.77   184     4.76
15   금천구   243872    42444  5.75    84     2.17
16  서대문구   317159    55404  5.72   125     3.23
17   노원구   509686    90914  5.61   261     6.75
18   구로구   416570    75041  5.55   222     5.74
19  동대문구   353181    63807  5.54   148     3.83
20   종로구   151999    27787  5.47    74     1.91
21   은평구   474124    89308  5.31   175     4.52
22   중랑구   391110    74112  5.28   141     3.64
23    중구   130764    24841  5.26    54     1.40
24   도봉구   314884    66253  4.75   145     3.75
25   강북구   298622    65655  4.55   118     3.05

In [366]:
# 노인 비율 으로 시설 비율을 나눔
tot['tot_per'] = ((tot.fac_per / tot.per)*100).apply(lambda x: np.round(x, 2))
tot

      동별        계 65세이상고령자   per  시설합계  fac_per  tot_per
0     소계  9682126  1650367  5.87  3869   100.00  1703.58
1    마포구   376062    55525  6.77   170     4.39    64.84
2    서초구   409025    61703  6.63   145     3.75    56.56
3    강남구   534988    80836  6.62   190     4.91    74.17
4    광진구   351073    53405  6.57   104     2.69    40.94
5    송파구   665847   102103  6.52   189     4.88    74.85
6    양천구   445270    71333  6.24   190     4.91    78.69
7   영등포구   398938    64285  6.21   199     5.14    82.77
8    관악구   500750    81713  6.13   131     3.39    55.30
9    성동구   288941    47347   6.1   177     4.57    74.92
10   용산구   233734    38784  6.03   111     2.87    47.60
11   강서구   575813    95836  6.01   245     6.33   105.32
12   강동구   464490    77349  6.01   136     3.52    58.57
13   동작구   392628    67863  5.79   151     3.90    67.36
14   성북구   442596    76719  5.77   184     4.76    82.50
15   금천구   243872    42444  5.75    84     2.17    37.74
16  서대문구   317159    55404  5.72   125     3.23    56.47
17   노원구   509686    90914  5.61   261     6.75   120.32
18   구로구   416570    75041  5.55   222     5.74   103.42
19  동대문구   353181    63807  5.54   148     3.83    69.13
20   종로구   151999    27787  5.47    74     1.91    34.92
21   은평구   474124    89308  5.31   175     4.52    85.12
22   중랑구   391110    74112  5.28   141     3.64    68.94
23    중구   130764    24841  5.26    54     1.40    26.62
24   도봉구   314884    66253  4.75   145     3.75    78.95
25   강북구   298622    65655  4.55   118     3.05    67.03

In [367]:
# 소계의 첫번째의 값 삭제
tot.tot_per[0] = 0
tot

C:\Users\minim\AppData\Local\Temp\ipykernel_8712\4101424651.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tot.tot_per[0] = 0

      동별        계 65세이상고령자   per  시설합계  fac_per  tot_per
0     소계  9682126  1650367  5.87  3869   100.00     0.00
1    마포구   376062    55525  6.77   170     4.39    64.84
2    서초구   409025    61703  6.63   145     3.75    56.56
3    강남구   534988    80836  6.62   190     4.91    74.17
4    광진구   351073    53405  6.57   104     2.69    40.94
5    송파구   665847   102103  6.52   189     4.88    74.85
6    양천구   445270    71333  6.24   190     4.91    78.69
7   영등포구   398938    64285  6.21   199     5.14    82.77
8    관악구   500750    81713  6.13   131     3.39    55.30
9    성동구   288941    47347   6.1   177     4.57    74.92
10   용산구   233734    38784  6.03   111     2.87    47.60
11   강서구   575813    95836  6.01   245     6.33   105.32
12   강동구   464490    77349  6.01   136     3.52    58.57
13   동작구   392628    67863  5.79   151     3.90    67.36
14   성북구   442596    76719  5.77   184     4.76    82.50
15   금천구   243872    42444  5.75    84     2.17    37.74
16  서대문구   317159    55404  5.72   125     3.23    56.47
17   노원구   509686    90914  5.61   261     6.75   120.32
18   구로구   416570    75041  5.55   222     5.74   103.42
19  동대문구   353181    63807  5.54   148     3.83    69.13
20   종로구   151999    27787  5.47    74     1.91    34.92
21   은평구   474124    89308  5.31   175     4.52    85.12
22   중랑구   391110    74112  5.28   141     3.64    68.94
23    중구   130764    24841  5.26    54     1.40    26.62
24   도봉구   314884    66253  4.75   145     3.75    78.95
25   강북구   298622    65655  4.55   118     3.05    67.03

In [368]:
# 최종 비율로 정렬
tot = tot.sort_values('tot_per', ascending=True).reset_index(drop=True)
tot

      동별        계 65세이상고령자   per  시설합계  fac_per  tot_per
0     소계  9682126  1650367  5.87  3869   100.00     0.00
1     중구   130764    24841  5.26    54     1.40    26.62
2    종로구   151999    27787  5.47    74     1.91    34.92
3    금천구   243872    42444  5.75    84     2.17    37.74
4    광진구   351073    53405  6.57   104     2.69    40.94
5    용산구   233734    38784  6.03   111     2.87    47.60
6    관악구   500750    81713  6.13   131     3.39    55.30
7   서대문구   317159    55404  5.72   125     3.23    56.47
8    서초구   409025    61703  6.63   145     3.75    56.56
9    강동구   464490    77349  6.01   136     3.52    58.57
10   마포구   376062    55525  6.77   170     4.39    64.84
11   강북구   298622    65655  4.55   118     3.05    67.03
12   동작구   392628    67863  5.79   151     3.90    67.36
13   중랑구   391110    74112  5.28   141     3.64    68.94
14  동대문구   353181    63807  5.54   148     3.83    69.13
15   강남구   534988    80836  6.62   190     4.91    74.17
16   송파구   665847   102103  6.52   189     4.88    74.85
17   성동구   288941    47347   6.1   177     4.57    74.92
18   양천구   445270    71333  6.24   190     4.91    78.69
19   도봉구   314884    66253  4.75   145     3.75    78.95
20   성북구   442596    76719  5.77   184     4.76    82.50
21  영등포구   398938    64285  6.21   199     5.14    82.77
22   은평구   474124    89308  5.31   175     4.52    85.12
23   구로구   416570    75041  5.55   222     5.74   103.42
24   강서구   575813    95836  6.01   245     6.33   105.32
25   노원구   509686    90914  5.61   261     6.75   120.32

In [369]:
# csv 파일로 추출
tot.to_csv("tot.csv", index=False)

In [377]:
# 조건 추가(노인 비율이 평균 이상)
a = tot[tot.per >= tot.per[1:].mean()].reset_index(drop=True)
a

      동별        계 65세이상고령자   per  시설합계  fac_per  tot_per
0     소계  9682126  1650367  5.87  3869   100.00     0.00
1    광진구   351073    53405  6.57   104     2.69    40.94
2    용산구   233734    38784  6.03   111     2.87    47.60
3    관악구   500750    81713  6.13   131     3.39    55.30
4    서초구   409025    61703  6.63   145     3.75    56.56
5    강동구   464490    77349  6.01   136     3.52    58.57
6    마포구   376062    55525  6.77   170     4.39    64.84
7    강남구   534988    80836  6.62   190     4.91    74.17
8    송파구   665847   102103  6.52   189     4.88    74.85
9    성동구   288941    47347   6.1   177     4.57    74.92
10   양천구   445270    71333  6.24   190     4.91    78.69
11  영등포구   398938    64285  6.21   199     5.14    82.77
12   강서구   575813    95836  6.01   245     6.33   105.32

In [371]:
# 조건 추가(최종 비율이 평균 이상)
b = a[tot.tot_per <= tot.tot_per[1:].mean()].reset_index(drop=True)
b

C:\Users\minim\AppData\Local\Temp\ipykernel_8712\3117905227.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  b = a[tot.tot_per <= tot.tot_per[1:].mean()].reset_index(drop=True)

    동별        계 65세이상고령자   per  시설합계  fac_per  tot_per
0   소계  9682126  1650367  5.87  3869   100.00     0.00
1  광진구   351073    53405  6.57   104     2.69    40.94
2  용산구   233734    38784  6.03   111     2.87    47.60
3  관악구   500750    81713  6.13   131     3.39    55.30
4  서초구   409025    61703  6.63   145     3.75    56.56
5  강동구   464490    77349  6.01   136     3.52    58.57
6  마포구   376062    55525  6.77   170     4.39    64.84

In [372]:
# 조건에 모두 만족하는 csv 파일 추출
b.to_csv("complete.csv", index=False)